doctype 5
html(ng-app="wtf")
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')

    style
        [ng-cloak] {
          display: none;
        }
  body(style="margin-top:10px")

    header.container
      div.navbar.navbar-inverse
        div.navbar-inner(style="padding: 0 20px;")
          a.brand(href="/wtf") WTF?
          ul.nav
            li
              a(href="/incubator") Инкубатор
            li
              a(href="/") O_o

    div.container.main-wrapper
      div.row
        div.span12
          ng-view

    script(src='/lib/jquery/jquery-1.10.1.min.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')

    script(src='/lib/angular/angular.min.js')
    script(src='/lib/angular/angular-resource.js')
    script(src='/lib/angular/angular-sanitize.js')

    script(src='/lib/leaflet/leaflet.js')

    script(src='/js/wtf-app.js')
    script(src='/js/wtf-wtf.js')
    script(src='/js/wtf-incubator.js')
    script(src='/js/wtf-services.js')